<div class="container">

    <form class="row" (submit)="cadastrar($event)"> 
        <!-- databinding unidirecional da view para o model -->
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input name="titulo" [(ngModel)]="foto.titulo" 
                       class="form-control"  autocomplete="off">
                <!--<input (input)="foto.titulo = $event.target.value"
                       [value]="foto.titulo" class="form-control"  autocomplete="off">-->
                    <!-- a cada letra digitado, pega o valor do input e manda -->
            </div>
            <div class="form-group">
                <label>URL</label>
                <input name="url" [(ngModel)]="foto.url" 
                        class="form-control"  autocomplete="off">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea name="descricao" [(ngModel)]="foto.descricao" 
                            class="form-control"  autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
             <!--no sistema de rotas, '' é direcionado para listagem-->
            <hr>
        </div>
    </form>
</div>